{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    // "next/core-web-vitals",
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": "true"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "no-console": "error",
    "max-len": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
